<?xml version="1.0" encoding="utf-8"?>
<manifest package="hackathon.rc.ca.hackathon"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/charles_proxy_network_config">
        <activity
            android:name=".controllers.PlaylistListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.PlaylistDetailActivity"
            android:label="@string/title_playlist_detail"
            android:parentActivityName=".controllers.PlaylistListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hackathon.rc.ca.hackathon.controllers.PlaylistListActivity"/>
        </activity>
        <activity
            android:name=".controllers.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".controllers.PlaylistListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hackathon.rc.ca.hackathon.controllers.PlaylistListActivity"/>
        </activity>
    </application>

</manifest>